target
vscode
algorithm/current_false/
algorithm/current_true/
algorithm/previous/
algorithm/init/
algorithm/output/
Cargo.lock
*.DS_Store
setup-mpc-common/dest/
setup-mpc-common/node_modules/
setup-mpc-server/dest/
setup-mpc-server/node_modules/
setup-mpc-server/package-lock.json
setup-mpc-client/dest/
setup-mpc-client/node_modules/
*.dat
test_dir*
*.key
